.navlink-dot {
    position: relative;
    left: -5px;
    top: 3px;
    /* top: 15.5px; */
    border-radius: 50%;
    width: 20px;
    min-width: 20px;
    aspect-ratio: 1 / 1;
}

.navlink-dot svg {
    width: 100%;
    min-width: 100%;
    height: 100%;
    color: #f07b7b;
    border-radius: 50%;
}