@media screen and (min-width: 769px) {
    .navbar-list {
        position: relative;
        top: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-list__element {
        width: 120px;
    }
}




/* mobile */

